.jokes-cont {
  margin: auto;
  .joke {
    text-align: center;
    align-items: center;
    margin: auto;
    justify-content: center;
    display: flex;
  }

}
.joke-loader {
  display: flex;
  justify-content: center;
  margin: auto;
}